$color-primary: #0080ff;
$color-primary-light: #66B2FF;
$color-primary-dark: #004C99;

$color-grey-light-1: #F7F7F7;
$color-grey-light-2: #EEE;
$color-grey-dark-1: #AAA;
$color-grey-dark-2: #999;
$color-grey-dark-3: #555;

$color-white: #FFF;
$color-black: #000;
$color-red: #FF4646;
$color-green: #329932;

$default-font-size: 1.6rem;