@import "../assets/style/import";

.header {
  padding: 2rem;
  box-shadow: 0 .5rem 2rem rgba($color-black, .1);

  &__button-container {
    display: flex; justify-content: flex-end;
    font-size: $default-font-size;

    & > * {
      margin-right: 2rem;
    }
  }
}

.section-booking {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark);

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.modal {
  transform: translateX(200%);
  transition: all .3s;
}

.modal-show {
  transform: translateX(0);
}

.header-form {
  margin: 5rem;
  width: 50rem;
  border-bottom: 1px solid $color-grey-light-1;
  padding-bottom: 5rem;
}

.booking {
  background-image: linear-gradient(
    105deg,
    rgba($color-primary, .9) 0%,
    rgba($color-primary, .9) 65%,
    transparent 65%);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

  @include respond(tab-land) {
    background-image: linear-gradient(
      105deg,
      rgba($color-white, .9) 0%,
      rgba($color-white, .9) 70%,
      transparent 70%);
  }

  @include respond(phone) {
    background-image: linear-gradient(
      105deg,
      rgba($color-white, .9) 0%,
      rgba($color-white, .9) 100%,
      transparent 100%);
  }

  &__form {
    padding: 6rem;

    @include respond(tab-land) {
    }

    @include respond(phone) {
      width: 100%;
    }
  }
}

.form {

  &__input {
    
    border: 1px solid $color-grey-dark-1;
    border-bottom: 3px solid $color-grey-dark-1;
    display: block;
    transition: all .2;
    width: 100%;

    &:required {
      outline: none !important;
      box-shadow: none;
    }

    @include respond(tab-port) {
      width: 100%;
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark-1;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .2s;  
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-5rem);
  }

  &__radio-group {
    width: 49%;
    display: inline-block;

    @include respond(tab-port) {
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  &__radio-input {
    display: none;
  }

  &__radio-label {
    font-size: $default-font-size;
    cursor: pointer;
    position: relative;
    padding-left: 5rem;
  }
  &__radio-button {
    width: 3rem; height: 3rem;
    border: 5px solid $color-primary;
    border-radius: 50%;
    display: inline-block;
    position: absolute; top: -.7rem; left: 0;

    &::after {
      content: ""; display: block;
      border-radius: 50%;
      width: 1.4rem; height: 1.4rem;
      position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
      background-color: $color-primary;
      opacity: 0;
      transition: all .2s;
    }
  }

  button {
    border: none;
    // color: $color-white;
    font-size: 1.6rem;
    width: 100%;
    border-radius: 3px;
  }

  &__radio-input:checked + &__radio-label > &__radio-button::after {
    opacity: 1;
  }

}